*{
    box-sizing: border-box;
}
body{
    background-color: var(--main-color) !important;
}
:root{
    --main-color: #272b30;
    --secound-color: #3a497b;
    --color-text: #fff;
    --btn-main-color: #272729;
}
.home{
    background-image: linear-gradient( rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../img/0\ \(4\).jpg);
    background-position: center center;
    background-size: cover;
    font-family: "Comfortaa", cursive;
}
nav{
    position: relative;
    top: 100px !important;
    background-color: var(--secound-color)!important;
    border-radius: 20px;
}
nav .logo{
    width: 5%;
}
nav .navbar-nav a{
    font-size: 12px;
}

.col-md-3{
    font-family: "Comfortaa", cursive;
    transition: 1s all;
    filter: grayscale(100%);
    transition: 1s all;
}

.col-md-3:hover{
transform:scale(1.2,1.2) !important;
filter: grayscale(0%);
}

.gameItem{
 border:1px solid black;

}

.text-muted{
    color:gray !important;
}
header{
    height: 40vh;
}
#gameDetails {
    color:white !important;
}
#gameDetails p {
    font-size: 14px !important;
}
#gameDetails span{
    background-color: #0dcaf0;
    border-radius: 5px;
    color: black !important;
    font-size: 12px !important;
    padding: 5px;
    font-weight: 600;
}
#title{
    font-size: 90%;
}
#gameDetails{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #27282b;
    font-family:  "Comfortaa", cursive;
}
#gameDetails {
    color:white !important;
}
#gameDetails p {
    font-size: 14px !important;
}
#gameDetails span{
    background-color: #0dcaf0;
    border-radius: 5px;
    color: black !important;
    font-size: 12px !important;
    padding: 5px;
    font-weight: 600;
}